<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Braille-drawing Robot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/stylesheet.css">
  <link rel="icon" href="../static/images/BigB.png" type="image/png">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home.html">
      <img src="../static/images/BigB.png" width="30" height="30" alt="BigB Image">
      Home
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="translator.html">Translator <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="game.html">Game</a>
        <a class="nav-item nav-link" href="dictionary.html">Dictionary</a>
      </div>
    </div>
  </nav>

  <img src="../static/images/ReimagineCommunication.png" alt="ReimagineCommunication" style="width: 100%;"></image>

  <!-- <img src="../static/images/mainBackground1.png" alt="background1" class="mainBackground"></image>
  <img src="../static/images/mainBackground2.png" alt="background2" class="mainBackground"></image> -->

  
  <div id="whatWeDo">
    <h1 class="display-4"><br><br>WHAT WE DO<br></h1>
    <hr class="my-4" width="60%" size="8">
    <p class="lead" style="padding:15px">The braille-printing robot helps ease the learning curve for picking up braille and facilitates
      communication between a visually impaired and non-visually impaired person. <br><br></p>
    <table style="width:100%" id="weDoTable" width="50%">
      <tr>
        <th><image src="../static/images/talk.png" width="100px" height="100px"><br></th>
        <th><image src="../static/images/learn.png" width="100px" height="100px"><br></th> 
        <th><image src="../static/images/play.png" width="100px" height="100px"><br></th>
      </tr>
      <tr>
        <th><p style = "font-family:georgia,garamond; font-size:25px;">
            <br>Talk</p><br></th>
        <th><p style = "font-family:georgia,garamond; font-size:25px;">
            <br>Learn</p><br></th> 
        <th><p style = "font-family:georgia,garamond; font-size:25px;">
            <br>Play</p><br></th>
      </tr>
      <tr>
        <td style="padding:15px"><p style = "font-family:arial; font-size:20px;">
            Communicate visually impaired persons using braille with our robot<br></p></td>
        <td style="padding:15px"><p style = "font-family:arial; font-size:20px;">
            Get to know the braille alphabets and how to read them<br></p></td> 
        <td style="padding:15px"><p style = "font-family:arial,garamond; font-size:20px;">
            Play interactive memory games to further improve your knowledge<br></p></td>
      </tr>
    </table>
    <br><br><br><br>
  </div>


  <div id="whoWeAre">
      <h1 class="display-4"><br>MEET THE TEAM<br></h1>
      <hr class="my-4" width="60%" size="8">
      <p class="lead">We are CPEN291 G12.<br><br></p>
      <div class="container">
          <div class="row">
            <div class="col-sm">

              <div class="card" style="width: 15rem;">
                <img src="../static/images/Yash.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Yash</h5>
                  <p class="card-text">Algorithmically-Vegetarian</p>
                  <a href="https://web.aw.ca/en/our-menu/burgers/beyond-meat-burger" target="_blank"  class="btn btn-primary">
                    ME</a>
                </div>
              </div>
              <br> <br>
      
              <div class="card" style="width: 15rem;">
                <img src="../static/images/Mario.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mario</h5>
                  <p class="card-text">Lego King</p>
                  <a href="https://www.facebook.com/preetshah99" target="_blank"  class="btn btn-primary">
                    I like that</a>
                </div>
              </div>
              <br> <br>
            </div>

            <div class="col-sm">
              <div class="card" style="width: 15rem;">
                  <img src="../static/images/Andi.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Andi</h5>
                    <p class="card-text">Front-end Girl</p>
                    <a href="https://www.tripadvisor.ca/Restaurant_Review-g298555-d2096072-Reviews-Tou_Tou_Koi_Rest-Guangzhou_Guangdong.html" 
                    target="_blank" class="btn btn-primary">My Favourite Place</a>
                  </div>
                </div>
                <br> <br>
        
                <div class="card" style="width: 15rem;">
                  <img src="../static/images/Tolga.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Tolga</h5>
                    <p class="card-text">Fighter</p>
                    <a href="http://i.milliyet.com.tr/YeniAnaResim/2017/06/13/ev-yapimi-iskender-tarifi-9305500.Jpeg" target="_blank" class="btn btn-primary">
                      My Favourite Food</a>
                  </div>
                </div>  
                <br> <br>
            </div>

            <div class="col-sm">
              <div class="card" style="width: 15rem;">
                  <img src="../static/images/Ian.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Ian</h5>
                    <p class="card-text">Back-end God</p>
                    <a href="https://hackertyper.net" target="_blank" class="btn btn-primary">Be my friend</a>
                  </div>
                </div>
                <br> <br>
        
                <div class="card" style="width: 15rem;">
                  <img src="../static/images/Wilson.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Wilson</h5>
                    <p class="card-text">Rancher</p>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-primary">
                      ;)</a>
                  </div>
                </div>
                <br> <br>
            </div>
          </div>
        </div>
        <br>
    </div>

    <image src="../static/images/newBright.png" width="100%"></image>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>