.carouselImages {
    width: 100%;
    height: 100%;
}

#dict {
    position: relative; 
    width: 1300px; 
    left: 20px;
    top: 10px;
}

.mainBackground {
    width: 100%;
}
#whatWeDo{
    background: url("../../static/images/mainBackground1.png") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    text-align: center;  
}

#weDoTable {
    text-align: center;
}

#whoWeAre {
    background: url("../../static/images/mainBackground2.png") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    text-align: center; 
}

